<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script>
        function uploadFile() {
            let image = document.getElementById("fileToUpload").files[0];
            let formData = new FormData();
            formData.append("image", image);
            return fetch('http://localhost:3000/upload', { method: "POST", body: formData });
        }

        function getById(id) {
            return document.getElementById(id)
        }

        function onUpload() {
            uploadFile().then(
                response => {
                    response.json().then(
                        values => {
                            // myImage.src = values.image_encoded;
                            // ctx.drawImage(myImage, 0, 0);
                            setOutput(values)
                        }
                    )
                }
            )
        }
        function setOutput(data) {
            console.log("aman")
            var gambarcenah = getById("gambarcenah")
            gambarcenah.src = "data:image/jpg;base64," + data.image_encoded
            gambarcenah.style.visibility = "visible"
            var lebarbahu = getById("lebarbahu")
            var lebarpanggul = getById("lebarpanggul")
            var lebarpinggang = getById("lebarpinggang")
            var bentukbadan = getById("bentukbadan")
            var saran = getById("saran")

            lebarbahu.innerHTML = data.bahu
            lebarpanggul.innerHTML = data.panggul
            lebarpinggang.innerHTML = data.pinggang
            bentukbadan.innerHTML = data.bentuk_badan
            saran.innerHTML = data.saran

            var synth = window.speechSynthesis;
            var utter = new SpeechSynthesisUtterance();
            utter.rate = 1;
            utter.pitch = 1;
            utter.text = data.bentuk_badan + ".........." + data.saran;
            utter.voice = window.speechSynthesis.getVoices()[0];
	        window.speechSynthesis.speak(utter);

            // var ctx = getById("mycanvas");
            // var myImage = new Image();
            // myImage.src = input_encoded
            // ctx.drawImage(myImage, 0, 0);
        }
    </script>

</head>

<body>

    <div class="container text-center">
    <h1>Deteksi Human</h1>

    <div>
        <p>Upload Gambar: </p>
        <div>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <button class="btn btn-primary" id="btnUpload" onclick="onUpload()">Submit</button>
        </div>
        <div>
            <img id="gambarcenah" style="visibility:hidden" src="data:image/png;base64,iVBORw0KGgoAAAANS..." />
        </div>
        <div>
            <div class="d-flex justify-content-center">
            <table class="table col-lg-4">
                <thead>
                    <tr>
                        <th>Jenis Badan</th>
                        <th>Ukuran</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lebar Bahu</td>
                        <td>
                            <p id="lebarbahu">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Lebar Pinggang</td>
                        <td>
                            <p id="lebarpinggang">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Lebar Panggul</td>
                        <td>
                            <p id="lebarpanggul">0</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center"><b>Bentuk badan</b> <br><span id="bentukbadan">-</span></p>
        <p class="text-center"><b>Saran</b><br><span id="saran">-</span></p>
        </div>
    </div>
</div>


</body>

</html>